.previewer, .empty {
    width: 100%;
    height: calc(100vh-28px);
    position: relative;
    z-index: 1;
    &:hover, &.active {
        border: 1px solid #2191f3;
    }

}
.previewer {
    height: 100%;
    *[pre-comp-wrap] {
        &:hover {
            border: 1px solid #2191f3;
        }
        &.active {
            border: 1px dashed #2191f3;
        }
    }
}

.empty {
    display: flex;
    justify-content: center;
    align-self: center;
}